@{
    ViewData["Title"] = "Home";
}

<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Welcome to project managing tool</h4>
        </div>
        <div class="card-body">
            Enjoy:)
        </div>
    </div>
</section>
